@font-face {
  font-family: "SF Pro Text";
  src: url('/fonts/SF-Pro-Text-Regular.otf');
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('/fonts/SF-Pro-Text-RegularItalic.otf');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('/fonts/SF-Pro-Text-Bold.otf');
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('/fonts/SF-Pro-Text-BoldItalic.otf');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('/fonts/SF-Pro-Text-Light.otf');
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('/fonts/SF-Pro-Text-LightItalic.otf');
  font-style: italic;
  font-weight: 400;
}

html, body {
    font-family: "SF Pro Text", sans-serif;
    height: 100%;
  }
  
  html {
    font-size: 15px;
    letter-spacing: -.01em;
  }
  
  body {
    color: #000;
    background-color: #fff;
    overflow-y: scroll;
  }
  
  a:hover {
    text-decoration: unset;
  }

  h1 {
      margin-bottom: unset;
  }

  ul {
    padding: unset;
    margin: unset;
  }


  /*  scrollbar for firefox and whichever browser that supports  */

  html {
    scrollbar-color: rgba(0,0,0,0.8) rgba(0,0,0,0.2);
    scrollbar-width: thin;
  }

